---
// import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumbs from "../../components/util/atoms/Breadcrumb.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
// import OgpCard from "../../components/util/atoms/OgpCard.astro"

import { getBlogDetail,getBlogs } from "../../library/microcms";

import { load } from "cheerio";

import hljs from 'highlight.js';
import "highlight.js/styles/atom-one-dark-reasonable.css";
import styles from '../../styles/blogstyle.module.scss';

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);

const $ = load(blog.content);

$("pre code").each((_, elm) => {
  const result = hljs.highlightAuto($(elm).text())
  $(elm).html(result.value)
  $(elm).addClass("javascript hljs")
  $(elm).css('border-radius', '0.5rem')
})
$("h1").each((_, elm) => {
  $(elm).addClass(`${styles.heading1}`)
})
$("h2").each((_, elm) => {
  $(elm).addClass(`${styles.heading2}`)

})
$("h3").each((_, elm) => {
  $(elm).addClass(`${styles.heading3}`)
})
$("h4").each((_, elm) => {
  $(elm).addClass(`${styles.heading4}`)
})
$('h5').each((_, elm) => {
  $(elm).addClass(`${styles.heading5}`)
})
$('strong').each((_, elm) => {
  $(elm).addClass(`${styles.strong}`)
})
$('code').each((_, elm) => {
  const result = hljs.highlightAuto($(elm).text())
  $(elm).html(result.value)
  $(elm).addClass("javascript hljs")
})
$('blockquote').each((_, elm) => {
  $(elm).addClass(`${styles.blockquote}`)
})
$('ol').each((_, elm) => {
  $(elm).addClass(`${styles.ordered_list}`)
})
$('ul').each((_, elm) => {
  $(elm).addClass(`${styles.unordered_list}`)
})

$('a').each((_, elm) => {
  $(elm).addClass('ogp_card')
})

---

<BaseLayout>
  <section class="mx-4 sm:mx-10">
    <Breadcrumbs placeholder={blog.title} />
    <h1 class="text-3xl mb-4">{blog.title}</h1>
    <div class="flex items-end flex-col">
      <time class="text-gray-500 font-mono" datetime={blog.publishedAt}>
        投稿日:{new Date(blog.publishedAt).toLocaleDateString("ja-JP")}
      </time>
      <p class="text-gray-500 font-mono">
        最終更新日:<time datetime={blog.publishedAt}>
          {new Date(blog.publishedAt).toLocaleDateString("ja-JP")}
        </time>
      </p>
    </div>
    <img src={blog.eyecatch?.url ? blog.eyecatch.url : ""} alt={blog.title} class="rounded-lg"/>
    <hr class="my-4"/>
    <main set:html={$.html()} />
  </section>
</BaseLayout>
