---
// import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumbs from "../../components/util/atoms/Breadcrumb.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";


import { getBlogDetail,getBlogs } from "../../library/microcms";

import "highlight.js/styles/atom-one-dark-reasonable.css";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<BaseLayout title={blog.title} description={blog.title} ogp={blog.eyecatch.url} url={new URL(blogId, 'https://komogomo.vercel.app/blog/')} visiable={true} >
  <section class="mx-6 sm:mx-20 lg:mx-40">
    <Breadcrumbs placeholder={blog.title} />
    <h1 class="text-3xl mb-4">{blog.title}</h1>
    <div class="flex items-end flex-col">
      <time class="text-gray-500 font-mono" datetime={blog.publishedAt}>
        投稿日:{new Date(blog.publishedAt).toLocaleDateString("ja-JP")}
      </time>
      <p class="text-gray-500 font-mono">
        最終更新日:<time datetime={blog.publishedAt}>
          {new Date(blog.publishedAt).toLocaleDateString("ja-JP")}
        </time>
      </p>
    </div>
    <div class="w-full flex justify-center"><img src={blog.eyecatch?.url ? blog.eyecatch.url : ""} alt={blog.title} class="rounded-xl shadow-lg sm:max-w-2xl"/></div>
    <hr class="my-4"/>
    <main set:html={blog.content} />
  </section>
</BaseLayout>
