---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { SITE } from "../../config";

import FormattedDate from "../../components/FormattedDate.astro";

import { getBlogs } from "../../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<BaseLayout title={SITE.title} descritpion={SITE.desc}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <time datetime={post.publishedAt}>
              {new Date(post.publishedAt).toLocaleDateString("ja-JP")}
            </time>
            <a href={`/blog/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
  <style>
    ul {
      list-style-type: none;
      padding: unset;
    }
    ul li {
      display: flex;
    }
    ul li :global(time) {
      flex: 0 0 130px;
      font-style: italic;
      color: #595959;
    }
    ul li a:visited {
      color: #8e32dc;
    }
  </style>
</BaseLayout>
