---
import {load} from 'cheerio'

const {url} = Astro.props
const res = await fetch(url)
const text = await res.text()
const $ = load(text)
const image = $("meta[property='og:image']").attr('content')
const desc = $("meta[property='og:description']").attr('content')
const title = $("meta[property='og:title']").attr('content')
---

<h1>{title}</h1>
<img src={image} alt={title}>
<p>{desc}</p>
