---

import BaseLayout from '../layouts/BaseLayout.astro'
import Skillcard from '../components/util/organisms/Skillcard.astro'
import styles from '../styles/aboutstyle.module.scss'
---

<BaseLayout>
  <main class="mx-4 sm:mx-40">
    <h2 class={styles.heading2}>自己紹介</h2>
    <p class={styles.paragraph}>
      はじめまして、私はYamashita Ryosukeと申します。現在、IT業界への転職を目標に活動をしています。
    </p>
    <p class={styles.paragraph}>
      多くのユーザーに利便性や楽しみを与えることのできるWebアプリケーションの開発に携わりたいという思いがあり、かねてより興味のあったIT業界のWebエンジニアへの就職を決意しました。
    </p>
    <p class={styles.paragraph}>
      現在はフロントエンドの学習をしており、このブログもその学習の遊び場として開設するに至りました。
    </p>
    <h3 class={styles.heading3}>自身を表す言葉</h3>
    <p class={styles.paragraph}>
      仮説思考/言語化だいじに/柔軟/素直/熱しやすく冷めづらい/見た目はクール、中身はホット/
      縁の下の力持ち的ポジション/周りが楽しんでいるのを見るのが好き/料理男子/猫派
    </p>
    <h2 class={styles.heading2}>保有スキルと経験(Not 実務)</h2>
      <Skillcard />
    <h2 class={styles.heading2}>他の経験と特技・趣味</h2>
    <p class={styles.paragraph}>
      他の経験としては、N88Basicを使用したアプリケーションのElectronでの再開発や販売・営業の自作分析ツールの開発などが経験あります。
      工夫して何を生み出す喜びややりがいはそういったところが原点かもしれません。
    </p>
    <p class={styles.paragraph}>
      趣味は、ピクセルアート・ボクセルアート、料理、今はサボってますが筋トレも好きです。
      特技は、弓道でインターハイ出場経験と地方大会での優勝経験があります。また一眼レフカメラでの写真撮影も得意で、小さなフォトコンテストで準優勝したのがささやかな自慢です。
    </p>
  </main>
</BaseLayout>

