---
// import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
}

// const cononicalURL = new URL(Astro.url.pathname, Astro.site);
const cononicalURL = "https://ryoooun-blog-ryoooun.vercel.app/";
const ogpImageURL = new URL('/main_ogp.svg', cononicalURL)

const { title, description, ogp } = Astro.props;
---


<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="/favicon.ico" />
<meta name="ganerator" content={Astro.generator} />
<meta property="og:image" content={ogp ? ogp : ogpImageURL} />
<meta property="og:title" content=`${title}ー未経験が目指すWeb系プログラマーへの雑記` />
<meta property="og:description" content={description}>
<!-- Canonical URL -->
<link rel="canonical" href={cononicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KCRDXYFQT"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-4KCRDXYFQT");
</script>
